/*------------------------------------*\
    #TYPOGRAPY-SETTINGS
\*------------------------------------*/

$font-display: "Helvetica Neue", sans-serif;
$font-display-alt: "Helvetica Neue", sans-serif;
$font-text: "Helvetica Neue", sans-serif;

